venv/
env/
modelos/modelo.gguf
__pycache__/
node_modules/
__pycache__/
data/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
dist/
build/
*.log
*.gguf
*.bin
*.pt
*.pth
*.ckpt
*.safetensors
*.zip
*.tar
*.rar
*.7z
*.mp4
*.mkv
*.iso
*.env
.env